.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container-fluid{
    background-color: #7F927C;
}

.MyLogo {
    font-family: "Cormorant Garamont", serif;
    font-size: 15px;
    padding-left: 40px;
}
.skillsList ul{
    font-family: "Poppins", sans-serif !important;
    padding-left: 0px;
    font-size: 18px;
    line-height: 60px;   
    padding-top: 70px !important;
}

.skillsList li{    
    display: flex;
    align-items: center;
    width: 410px;
    min-width: 315px;
    font-size: 18px;
    line-height: 70px;
}
.MyIcons {
    width: 40px;
    padding-right: 15px;
}

.clientLogos {
    max-width: 260px
}
.nav-item{
    font-family: "Cormorant Garamond", serif;
    font-size: 15px; 
    padding-right: 40px;
}
.check skillsList{
    width: 100px;
}

.introSection{
    padding: 200px;
    display: flex;
    align-items: center !important;
    justify-content: center;
}
h1{
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: 200px !important; 
    font-weight: 700;
    line-height: 63px;
}
h2{
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: 100px;
}
h4{
    font-family: "Poppins", serif;
    font-size: 50px;
}
p{
    font-family: "Cormorant Garamond", serif;
    font-size: 19px;
}
.profileimg{
    width: 100%;
}
/* .checkimg{
    width: 15%;
} */
.headings{
    display: flex;
    background-color:#7F927C;
    padding: 50;
    justify-content: center;
}
h2.col-4,.headings{
    color: white;
    padding: 20;
}

.flex-container {
    display:flex;
    flex-wrap: wrap ;
    max-width: 1320px;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
col-8,.contribute{
}
.expertise{
    padding: 75;
}
.expertise2{
    padding-bottom:200px !important;
    justify-content: space-between !important;
}
.contribute{
    padding-top: 100px !important;
    font-family: "Poppins Light", serif;
}
.about{
    display: flex;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: black;
}
h2.col-5,.aboutcontent{
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 150px !important;
}
p.col-5,.aboutcontent{
    color: lightgrey !important;
    font-family: "Cormorant Garamond", serif;
    font-size: 19px;
}
col-5,.aboutcontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
col-4, .headings{
    padding: 100px;
}
img.casestudyimg {
    width: 500px;
}
.projects {
    padding: 50px 0px 30px 0px;
}

.proj{
    display: flex;
    background-color: #7F927C;
    padding: 50;
}
h2.proj{
    justify-content: center;
    color: white !important;
}
/* .projButton {
    margin-top: 30px;
}

button{
    background-color: white;
    border-color: darkgreen;
    border: 2px darkgreen;
    min-width: 200px;
    height: 50px;
} */

.rounded-button {
    background-color: white;
    color: darkgreen;
    border: 2px solid darkgreen;
    border-radius: 40px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.rounded-button:hover {
    background-color: darkgreen;
    color: white;
}
.sectionProjects {
    padding: 100px 0px 100px 0px;
}
h2.aboutcontent{
    font-family: "Cormorant Garamond", serif;
    font-size: 75px !important;
}



/* animation */
/* .container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */